[Unit]
Description=Pre-warm apps once after login + every week

[Timer]
OnStartupSec=150s
OnUnitActiveSec=1w
Persistent=false
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
